
    <footer class="footer-distributed">

		<!--	<p id= "logo1" href="/" style="font-size: 15px; font-family:Comfortaa; color:white"><img src="../folder/logo1.png" style="height:35px;width:45px; margin-bottom: 10px;"><i><b>Tìmphòngnhanh</b></i></p>
    -->
    <div class="footer-left">

      <p id= "logo1" href="/" style="font-size: 20px; font-family:Comfortaa; color:white"><img src="../folder/logo1.png" style="height:40px;width:50px; margin-bottom: 10px;"><i><b>Tìmphòngnhanh</b></i></p>

      <p class="footer-company-about">
        <span style="color:white">Về chúng tôi</span>
        Timphongnhanh.vn là trang web trực tuyến chuyên đăng tin về phòng ở, cung cấp thông tin về các loại phòng cho thuê gồm phòng trọ, căn hộ, nhà nguyên căn, khách sạn.
      </p>


      <br/>
    <p class="footer-company-name">Timphongnhanh &copy; 2019</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Khu phố 6, phường Linh Trung</span> Quận Thủ Đức, TP.Hồ Chí Minh</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+84 847402556</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:15520689@gm.uit.edu.vn"><span style="margin-right:5px;">15520689@gm.uit.edu.vn</span></a></p>
      </div>

    </div>

    <div class="footer-right">

      <div class="footer-icons">
        <span style="color:white;">Kết nối với chúng tôi<br/><br/></span>
        <a href="https://www.facebook.com/luong.quang97"><i class="fa fa-facebook"></i></a>
        <a href="mailto:15520689@gm.uit.edu.vn"><i class="fa fa-google"></i></a>
        <a href="https://github.com/quangln0397/"><i class="fa fa-github"></i></a>

      </div>

    </div>
  </footer>
